# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class


# Environments
.env
.envrc
.venv
env/
venv/
venv-bedrock/
venv-sagemaker/
ENV/
env.bak/
venv.bak/


cdk.out
wandb
.DS_Store
cdk.context.json

# custom folders to ignore
tmp/
data/datasets/